streamlit
langgraph
chromadb==0.4.22
langchain-community
langchain-core
langchain-chroma
langchain-google-genai
google-generativeai
google-api-python-client
requests
wikipedia
typing_extensions
protobuf
pydantic
