streamlit
langchain==0.2.14
langchain-core==0.2.29
langchain-community==0.2.10
langchain-google-genai==3.0.3
langchain-chroma==1.0.0

chromadb==0.4.22

google-generativeai
google-api-python-client>=2.100.0
requests
wikipedia

protobuf
pydantic
typing_extensions
